node_modules/
cache/
src/
release/
css/dist/
js/dist/
js/intercom.js
typings/bootbox/
typings/electron-json-storage/
typings/github-electron/
typings/jquery/
typings/node/
typings/vue/
typings/tsd.d.ts
tsd.json
*.wav
*.zip
*.7z
