node_modules/
cache/
src/
release/
dist/
css/dist/
js/dist/
js/intercom.js
typings/bootbox/
typings/electron-json-storage/
typings/github-electron/
typings/jquery/
typings/node/
typings/vue/
typings/browser/
typings/main/
typings/browser.d.ts
typings/main.d.ts
typings/tsd.d.ts
*.wav
*.zip
*.7z
*.exe
